@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model programacion.models.Student

<!DOCTYPE html>
<html>
    <title>Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
    <h1>Fan</h1><br>
   
    <div class="text-center">
        <table>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Name)</td>
                <td>@Html.DisplayTextFor(model => model.Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Age)</td>
                <td>@Html.DisplayTextFor(model => model.Age)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Hobbie)</td>
                <td>@Html.DisplayTextFor(model => model.Hobbie)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Curso)</td>
                <td>@Html.DisplayTextFor(model => model.Curso)</td>
            </tr>
             <tr>
                <td>@Html.DisplayNameFor(model => model.Credito)</td>
                <td>@Html.DisplayTextFor(model => model.Credito)</td>
            </tr>
        </table>
    </div>
    
    
</body>
</html>