@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model programcion.models.Student
<html>
 <div class="text-center">
        <table>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Name)</td>
                <td>@Html.DisplayTextFor(model => model.Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Curso)</td>
                <td>@Html.DisplayTextFor(model => model.Curso)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Credito)</td>
                <td>@Html.DisplayTextFor(model => model.Credito)</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>@Html.DisplayTextFor(model => model.Credito*100)</td>
            </tr>
        </table>
    </div>
</html>